{% extends "blog/base.html" %}

{% block title %}{{post.Title}}{% endblock %}

{% block content %}
        <h1 id="titleDetail header"> <a href="#">  {{post.Title}} </a> </h1>
        <div>
	        <p class="post-body"> {{post.Text}} </p>	
        </div>
        <p class="date">published {{post.publish}} by {{post.author}} </p>
        
		{{form.as_p}}

		{% for com in comments%}
          	<div>
            	<p>Commented by {{com.name}} on {{com.created}}</p>
          		<p>{{com.Text}}</p>
  			</div>	
    	{% endfor %}
{% endblock %}